* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    list-style: none;
    scroll-behavior: smooth;
}


header {
    /* aligner les elements */
    display: flex;

    /* aligner verticalement */
    align-items: center;

    /* aligner horizontalement */
    justify-content: space-between;

    padding-left: 40px;
    padding-right: 40px;

    /* Definit une hauteur */
    height: 80px;

    background-color: #333;

    position: relative;
}

header a {
    text-transform: uppercase;
    font-size: 20px;
    color: orange;
    font-weight: bold;
}

nav ul {
    display: flex;
    column-gap: 15px;
}

nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    color: orange;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
    transition: 0.5s;
}

nav ul li {
    padding: 20px;
}


/* 11/05/2024 mise en place
 du menu responsive */



nav input {
    display: none;
}

nav label {
    display: none;
    color: white;
    border: 2px solid white;
    padding: 10px;
}


/* BANNIERRE */
section#section1 {
    height: 90vh;

    /* Mettre une image de fond*/
    background: url(../images/bg-dark-1.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    row-gap: 40px;

}

section#section1 h1 {
    color: orange;
    font-size: 75px;
}

section#section1 p {
    color: white;
    text-align: center;
    font-size: 25px;
}

section#section1 a {
    color: rgba(0, 0, 0, 0.817);
    background-color: orange;
    font-size: 20px;
    font-weight: bold;

    /* padding: 10px 30px 10px 30px; */
    padding: 10px 30px;
    border-radius: 5px;
}


section#section1 a:hover{
    background-color: rgba(255, 166, 0, 0.797);
}

/* <!--A PROPOS DE MOI--> */
section#section2{
    background-color:rgba(241, 213, 213, 0.329);
   
}

section div.container{
    /* background-color: rgb(254, 255, 255); */
    width: 90%;
    margin: auto;
}

section div.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    max-width: 50%;
    margin: auto;
    /* background-color: rgb(129, 139, 139); */
}

section div.line{
    background-color: black;
    height: 5px; 
    width: 20px;
    /* mettre le trait en rond */
    border-radius: 10px;
}

section div p{
    font-size: 20px;
    /* text-transform: uppercase; */
}

section div h2{
    text-transform: uppercase;
}

section div.sous-container{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20%; */
    /* background-color: #333; */
}

section div.left{
    width: 45%;
    /* background-color: rgb(139, 163, 243); */
}

section div.left h3{
    font-size: 25px;
}

section div.right{
    width: 45%;
    /* background-color: aquamarine; */
    font-size: 25px;
}

section div.left ul {
    display: flex;
    flex-direction: row;    
}

section div.left ul li a {
    color: rgba(248, 246, 246, 0.973);
    background-color: rgb(105, 104, 104);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 10px;  
}

section div.left ul li a:hover{
    background-color: rgba(243, 198, 115, 0.797);
} 

section div.right ul {
    display: flex;
    flex-wrap: wrap;  
    column-gap: 20px;
    row-gap: 20px;

}

section div.right ul li a {
    color: rgba(248, 246, 246, 0.973);
    background-color: rgb(189, 186, 186);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
}   

section div.right ul li a:hover{
    background-color: rgba(243, 198, 115, 0.797);
    
} 
/* <!-- PROJETS --> */
section#section3{
    /* background-color:red; */
   
}

section.section-padding{
    padding-top: 90px;
    padding-bottom: 90px;
}

section img{
    width: 100%;
}

section#section3 div.sous-container {
    align-items: center;
}

/*  <!-- CONTACT --> */
section#section4{
    background: linear-gradient(rgba(0,0,0.576), rgba(204, 102, 102, 0.356)), url(../images/bg-dark-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section#section4 div.title h2{
    color: #fff;
}

section#section4 div.title p{
    color: #fff;
}

section#section4 form{
    background-color: rgb(243, 109, 109);
    width: 70%;
    margin: auto;
    border-radius: 5px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

section#section4 form div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

section#section4 form input{
    outline: none;
    padding: 5px;
    font-size: 15px;
}

section#section4 form textarea{
    outline: none;
    padding: 5px;
}

section#section4 form input#submit{
    background-color: #333;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px;
    font-size:20px ;
}

section#section4 form div label{
    font-size: 20px;
}

/* <!-- FOOTER --> */
footer{
    display: flex;
    justify-content: space-around;

    background-color: rgb(65, 63, 63);
    font-size: 18px;
    padding: 20px 0x;
}

footer p{
    color: #fff;
}
footer a i{
    color: #fff;
}




@media screen and (max-width: 900px) {
    nav ul {
        display: none;
    }

    nav label {
        display: flex;
    }

    nav input:checked+ul {
        display: flex;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgb(8, 8, 49);
    }

    /* A PROPOS */
    section#section2 div.sous-container {
        flex-direction: column;
        row-gap: 30px;
    }

    section#section2 div.sous-container div.left {
        width: 100%;
    }
    section#section2 div.sous-container div.left div{
        flex-wrap: wrap;
        row-gap: 10px;
    }
    section#section2 div.sous-container div.right {
        width:100%;
    }

    section div.title{
        max-width: 100%;
    }

    section div H2{
        color: red;
        font-size: 25px;
    }

    section#section3 div.sous-container{
        flex-direction: column;
        row-gap: 16px;
    }

    section div.left{
        width: 100%;
    }

    section div.right{
        width: 100%;
    }

    /* footer */
    footer{
        display: flex;
        align-items: center;
    }







}